<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<form class="signup-form" action="/itemaddok" method="POST">
    <h1 class="h3 mb-3 font-weight-normal">[[${#httpServletRequest.remoteUser}]][[${marketjoin_message}]] 
    </h1>
   <!----> <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
   <div class="row">
    <div class="input-field col s12">
      <input id="market_name" name="iid" type="text" class="validate"/>
      <label for="market_name">item Name</label>
    </div>
  </div>

    <input class="signup-btn waves-effect waves-light btn" type="submit" value="아이템등록" />
  </form></html>